*, body{
    margin: 0;
    padding: 0;
}

.head_main_warp{
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_logo{
    font-size: 32px;
    padding-left: 30px;
    color : #63aa3e;
    font-weight: 700;
}
.side_menu{
    font-size: 16px;
    padding-right: 30px;
}

